{% extends "news/base.html" %}
<!-- % extends {継承するクラス} % -->

<!-- base.html のタブのタイトルを上書き -->
{% block title %} Tech News ホーム{% endblock %}

{% block content %}
<h1> Tech News </h1>

<h2>このアプリについて</h2>

<p>テックニュースを日付ごとに整理して表示するアプリ</p>

<p>
    記事データはGitHubリポジトリに保存されている
    記事はファイル単位で保存されています
    [更新]ボタンでGitHubから新しい記事を取得します
</p>

<p>
    下の日付をクリックすると、その日の記事一覧が見れます。
    各記事には、見出し・ソース・要約がついています
    見出しをクリックすると元の記事が新しいタブで開きます。
</p>

<!--更新できているかの確認用-->
<p>現在の記事数: {{total}}件</p>

<hr>

<h2>記事一覧</h2>

<ul>
    <!-- 辞書のリストを確認していく -->
    {% for item in date_list %}

    <li>
        <!-- url の中身として引数をスペースを開けて、スペース区切りで順番に渡す-->
        <a href="{% url 'news:day' item.article_date.year item.article_date.month item.article_date.day %}">

            <!-- 実際のリンクとして表示する-->
            {{ item.article_date|date:"Y年n月j日" }} ({{ item.count }}件)
        </a> 
    </li>

    <!-- もし、for loopのリストが空だった時には-->
    {% empty %}
        <li>
            記事がまだありません。[更新]ボタンを押して記事の更新を行ってください
        </li>
    {% endfor %}
</ul>

<!-- フォームを送信して　update_feed viewでgithubへの更新を行う -->
<form method="post" action="{% url 'news:update_feed' %}">

    <!-- 秘密トークンを自動生成して、照合-->
    {% csrf_token  %}
    
    <button type="submit">更新</button>
</form>

{% endblock %}